<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>predefined global functions</title>
    </head>
    <body>
        Example #1
        {{range .}}
            {{.}}
        {{end}}

        Example #2
        {{if .}}
            Example #2 - {{.}}
        {{end}}

        Example #3
        {{range .}}
            {{if .Name}}
                Example #3 - {{.Name}}
            {{end}}
        {{end}}

        EXAMPLE #4
        {{range .}}
            {{if and .Name .Admin}}
                EXAMPLE #4 - Name: {{.Name}}
                EXAMPLE #4 - Motto: {{.Motto}}
                EXAMPLE #4 - Admin: {{.Admin}}
            {{end}}
        {{end}}
    </body>
</html>