<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Document</title>
</head>
<body>
    <h1>Stock price template</h1>
    {{range .}}
        <li>{{.Data}} - {{.Open}}</li>
    {{end}}
</body>
</html>