<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    {{range .}}
        {{.Meal}}
        {{range .Item}}
        <!-- <h2>{{.Name}}</h2>
        <h2>{{.Description}} - {{.Meal}} - ${{.Price}}</h2> -->
        {{end}}
    {{end}}

</body>
</html>