<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>header menu</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        {{template "svgs"}}
        {{template "header"}}
        <h1>The meaning of life: {{.}}</h1>
        <p>{{template "polarbear" .}}</p>
    </body>
</html>