<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>header menu</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        {{template "svgs"}}
        {{template "header"}}
        <div>
            <main>
                <svg class="icon icon-big-in">
                    <use xlink:href="#index"></use>
                </svg>
            </main>
        </div>
    </body>
</html>