<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    {{.Region}}
    {{range .Hotels}}
        <h1>{{.Name}}</h1>
        <h2>{{.Address}}</h2>
    {{end}}

</body>
</html>