<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    {{range .}}
        <h1>{{.Region.Hotels}}</h1>
        <h2>{{.Address}} - {{.City}}</h2>
        <h2>{{.Zip}} - {{.Region}}</h2>
    {{end}}

</body>
</html>