<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    {{.Region}}
    {{range .Hotels}}
        <h1>{{.Region}}</h1>
        <h2>{{.Name}}</h2>
        <h2>{{.Address}} - {{.Zip}} - {{.City}}</h2>
    {{end}}

</body>
</html>