<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    {{range .}}
        <h1>{{.Fall.Term}} - {{.AcaYear}}</h1>
        <h1>{{.Spring.Term}} - {{.AcaYear}}</h1>
    {{end}}

</body>
</html>