{{template "header"}}

<form method="POST">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="first">
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="last">
    <br>
    <label for="sub">Subscribed</label>
    <input type="text" id="Subscribed" name="Subscribed">
    <br>
    <input type="submit">
</form>
<br>
<h1>Fisrt Name: {{.FirstName}}</h1>
<h1>Last Name: {{.LastName}}</h1>