<!DOCTYPE html>
<html lang="en">
    <header>
        <meta charset="utf-8">
        <title>Photo</title>
    </header>
    <body>
        <h1>Hello from index</h1>
        <h1>Your picture: </h1>
        {{range .}}
            <img src="/public/pics/{{.}}" alt="" width="300px">
        {{end}}

        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" name="nf">
            <input type="submit">
        </form>
    </body>
</html>