<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ajax server</title>
    </head>
    <body>
        <h1>Make something happened</h1>
        <script>
            document.querySelector("span").onclick = makeRequest;

            function makeRequest(url) {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/foo", true);
                xhr.onreadystatechange = function() { 
                    if(xhr.readyState === XMLHttpRequest.DONE &)
                }
            }
        </script>
    </body>
</html>