<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello world</title>
    </head>
    <body>
        Without data formatting: {{ . }}
        With data formatting: {{ fdateMDY .}} 
    </body>
</html>
